# Logistic Regression

## Importing Libraries and the Input Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
                                                                                                
dcredit = pd.read_excel('Helper_Data.xlsx',sheet_name ='Credit Profile')

dcredit

    Credit_Profile  Annual_Income  Education_Years  Age
0                1   60000.000000               17   28
1                1   70000.000000               20   24
2                1   80000.000000               18   25
3                1   50000.000000               17   22
4                1   75000.000000               17   22
..             ...            ...              ...  ...
66               0   64312.265115                9   26
67               0   64137.281279                8   29
68               0   64726.534621                8   26
69               0   64255.958301                8   29
70               0   64428.453222               10   27

[71 rows x 4 columns]

## Logistic Regression modelling

In [2]:
# defining the dependent and independent variables
Xtrain = dcredit[['Annual_Income', 'Education_Years', 'Age']]
#Xtrain = dcredit[[ 'Education_Years', 'Age']]
ytrain = dcredit[['Credit_Profile']]

# building the model and fitting the data
logreg = sm.Logit(ytrain, Xtrain).fit()
print(logreg.summary())

Optimization terminated successfully.
         Current function value: 0.270577
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:         Credit_Profile   No. Observations:                   71
Model:                          Logit   Df Residuals:                       68
Method:                           MLE   Df Model:                            2
Date:                Sat, 08 Jan 2022   Pseudo R-squ.:                  0.6096
Time:                        11:13:05   Log-Likelihood:                -19.211
converged:                       True   LL-Null:                       -49.206
Covariance Type:            nonrobust   LLR p-value:                 9.401e-14
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Annual_Income    5.573e-05   2.13e-05      2.618      0.009     1.4e-05    9.74e-05
Education_Years     0.3833      0.129      2.974      0.003       0.131       0.636
Age                -0.2936      0.070     -4.219      0.000      -0.430      -0.157
===================================================================================

## Testing the model

In [3]:
xdata = {'Annual_Income':[110000,42000,95000,90000,100000],
        'Education_Years':[10,10,16,20,30],
        'Age':[30,27,28,40,50]}
ydata = {'Credit_Profile':[1,0,1,1,0 ]}

xtest = pd.DataFrame(xdata)
ytest = pd.DataFrame(ydata)

# performing predictions on the test datdaset
ypredict = logreg.predict(xtest)
print (ypredict)
predictions = list(map(round, ypredict))


print('Acutal values', list(ytest.Credit_Profile))
print('Predictions :', predictions)

0    0.760748
1    0.147803
2    0.961137
3    0.719141
4    0.916477
dtype: float64
Acutal values [1, 0, 1, 1, 0]
Predictions : [1, 0, 1, 1, 1]

## Confusion matrix

In [4]:
from sklearn.metrics import (confusion_matrix, accuracy_score)
  
# confusion matrix
cm = confusion_matrix(ytest.Credit_Profile, predictions) 
print ("Confusion Matrix : \n", cm) 
  
# accuracy score of the model
print('Test accuracy = ', accuracy_score(ytest.Credit_Profile, predictions))

Confusion Matrix :
 [[1 1]
 [0 3]]
Test accuracy =  0.8